name: dl-project
channels:
  - defaults
  - conda-forge

dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyter
  - ipykernel
  - tqdm
  - joblib
  - pip
  - pip:
      - transformers
      - datasets
      - tensorflow
      - SoccerNet
      - soundfile